* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*  inizio header */

header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.left-side-header h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: red;
	font-size: 30px;
}

.righ-side-header input {
	padding: 5px;
}

.righ-side-header button {
	padding: 5px;
	border-radius: 5px;
}

/* fine header */

/* inizio body */

main {
	display: flex;
	background-color: lightgrey;
	min-height: calc( 100vh - 80px);

}

.container {
	margin: auto;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card-film {

	width: 20%;
	height: 350px;
	margin-top: 25px;
	margin-left: 2%;
	display: flex;
	justify-content: center;
	box-shadow: 8px 8px 3px grey;
	border: 1px solid black;
	background-color: black;

}

#posterImg {
	max-width: 100%;
	display: block;
}

#posterImg.hidden {
	display: none;
}

ul {
	display: none;
	list-style-type: none;
	overflow-y: auto;
	padding: 10px;
	color: white;

}

ul.active {
	display: block;
}






.fa-star {
	color: #e3af14;
}
