* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*  inizio header */

header {
	width: 100vw;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.left-side-header h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: red;
	font-size: 20px;
}

.righ-side-header input {
	padding: 5px;
}

.righ-side-header button {
	padding: 5px;
	border-radius: 5px;
}

/* fine header */

/* inizio body */

main {
	display: flex;
	background-color: lightgrey;
	/* overflow-y: scroll; */

}

.container {
	margin: auto;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card-film {
	padding: 10px;
	border: 1px solid black;
	width: 20%;
	height: 350px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

#posterImg {
	max-width: 100%;
	display: block;
}

#posterImg.active {
	display: none;
}

ul {
	display: none;
	list-style-type: none;
}

ul.active {
	display: block;
}



.fas {
	color: #e3af14;
}

.far {
	color: #e3af14;
}
